.Track {
    display: flex;
    height: 10rem;
    width: 100%;
    gap: 1%;
    align-content: center;
    justify-content: space-between;
    margin: 1% 0;
}

.Information {
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    width: 100%;
}

.CoverContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 10rem;
}

.Cover {
    object-fit: cover;
    height: 100%;
    margin: 1%;
    border-radius: 32%;
    overflow: clip;
}

.Song {
    font-size: 1.77rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.Artist {
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.Audio {
    width: 90%;
    margin: 0;
}